@font-face {
  font-family: "myRoboto";
  font-style: normal;
  font-weight: 400;
  src: local('roboto'), local('roboto-regular');
}

@font-face {
  font-family: "myRoboto";
  font-style: normal;
  font-weight: 700;
  src: local('roboto'), local('roboto-bold');
}
