@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto);
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local(roboto-bold)
}
