#section_more_news {
  background-color: #fff;
}

#section_more_news > header {
  padding-block-end: 2.5rem;
  border-bottom: 2px solid #EBEDED;
  margin-block-end: 2.5rem;
}

#section_more_news .article_title {
  margin-block-start: 0;
  margin-block-end: -0.625rem;
  font-weight: 700;
}

#section_more_news article p {
  color: #A6ADB4;
  font-weight: 400;
}

#section_more_news .category {
  margin-block-start: 0;
  margin-block-end: 1.25rem;
}

#section_more_news .category a {
  color: #FA6980;
}

/* ==== Tablet === */
@media (min-width: 768px) {
  #section_more_news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "header header"
    "article1 article2";
    column-gap: 3rem;
  }

  #section_more_news > header {
    grid-area: header;
  }
  #section_more_news > article:nth-of-type(1) {
    grid-area: article1;
  }
  #section_more_news > article:nth-of-type(2) {
    grid-area: article2;
  }

}

/*=== Desktop ===*/
@media (min-width: 1000px) {
#section_more_news{
display: block;
/* margin-inline-start: -4rem; */
/* padding-inline-start: 8rem; */
}
}
