#section_happening_now {
  margin-block-start: -2.5rem;
}

#section_happening_now .article_card {
  border-radius: 0.375rem;
  margin-block-end: 2.5rem;
}

#section_happening_now .article_simple:first-of-type::before {
  content: "";
  display: block;
  height: 0;
  border-block-start: 2px solid #EBEDED;
  padding-block-start: 2.5rem;
}

@media (min-width: 768px) {
  #section_happening_now {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    grid-template-areas:
    "header header"
    "article1 article1"
    "article2 article2"
    "article3 article4";
   margin-inline-start: auto;
   margin-inline-end: auto;
  }

  #section_happening_now > header {
    grid-area: header;
  }
  #section_happening_now > article:nth-of-type(1) {
    grid-area: article1;
  }
  #section_happening_now > article:nth-of-type(2) {
    grid-area: article2;
  }

  #section_happening_now > article:nth-of-type(3) {
    grid-area: article3;
  }

  #section_happening_now > article:nth-of-type(4) {
    grid-area: article4;
  }
  #section_happening_now > article:nth-of-type(4) ~ article {
    display: none;
  }

  #section_happening_now > header {
    padding-block-end: 0;
  }

}




